@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  background-color: #282c34;
  font-family: "Acme", sans-serif;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 60%;
  text-shadow: 1px 1px 1px #000;
}

.congrats-text {
  font-size: 100px;
  margin-bottom: 0;
  color: rgb(170, 170, 170);
}

.selected-text {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0;
  color: white;
}

.intstructions {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.host-image {
  flex: 1;
  object-fit: cover;
  max-width: 20%;
  margin: 10px;
}
.instruct-text-box {
  color: white;
  border-radius: 5%;
  padding: 20px 50px;
  background-color: rgb(170, 170, 170, 0.5);
  flex: 4;
  margin: 10px;
  box-shadow: 0 0 12px rgb(170, 170, 170);
}

.instructions-text {
  font-size: 27px;
  background: none;
}

.game-container {
  align-items: center;
  text-align: center;
}

.game {
  /* width: 90%; */
  align-items: center;
  margin: auto;
}

.credits {
  text-align: center;
  margin-top: 100px;
}

.credit-text {
  font-size: 20px;
  justify-content: flex-end;
  color: white;
}
