@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.container {
  margin-top: 100px;
}
.ready {
  text-align: center;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  background-color: black;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex: 1;
}
.readyText {
  font-size: 25px;
  background-color: black;
  align-items: center;
  margin: auto;
  padding: 30px;
}
.startContainer {
  margin-bottom: 40px;
}

.start-btn {
  text-align: center;
  color: white;
  background-color: green;
  padding: 20px 50px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  width: 200px;
}

.game-conatiner {
  margin-top: 10px;
}
.action-input {
  color: white;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.num-games-text {
  font-size: 30px;
  flex: 1;
}
.action-text {
  font-size: 30px;
  flex: 1;
}

.blank-spot {
  flex: 1;
}

.threeDoors {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: auto;
  margin-top: 30px;
  width: 80%;
}

.picture {
  max-width: 400px;
}

.door {
  flex: 1;
  border: none;
  background: none;
  margin: 0 20px;
}
.door-text {
  color: white;
  font-size: 20px;
}

.doorPic {
  padding: 15px 0;
}

.reveal-sec {
  margin-top: 100px;
}

.reveal-text {
  color: white;
  font-size: 30px;
}

.choose-buttons {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: auto;
}

.stay-button {
  color: white;
  background-color: green;
  font-size: 20px;
  border: none;
  padding: 10px 30px;
  flex: 1;
  margin: 0 15px;
}

.switch-button {
  color: white;
  background-color: red;
  font-size: 20px;
  border: none;
  padding: 10px 30px;
  flex: 1;
  margin: 0 15px;
}

.playAgain {
  color: white;
  background-color: darkslateblue;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 15px 60px;
}

.resultsButton {
  color: white;
  background-color: rgb(85, 166, 139);
  font-size: 25px;
  border: none;
  border: 15px;
  padding: 20px 70px;
}

.roundsData {
  margin: auto;
  margin-top: 120px;
  width: 50%;
}

.roundsDataText {
  color: white;
  font-size: 40px;
}

.trialQuestion {
  margin-top: 10vh;
  color: white;
  font-size: 24px;
  text-align: start;
}

.simulateTrials {
  color: white;
  font-size: 24px;
  margin-top: 50px;
}

.debriefTitle {
  font-size: 40px;
  color: white;
  text-align: start;
}
.debrief {
  color: white;
  font-size: 24px;
  text-align: start;
}

.backgroundTitle {
  font-size: 30px;
  color: white;
  text-align: start;
}

.background {
  color: white;
  font-size: 24px;
  text-align: start;
  margin-bottom: 0px;
}

.proof-image {
  max-width: 600px;
}
